<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gaegu">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    
    <title>Highlighters to use</title>
</head>
<body class="w3-container">
    <!-- Shared Header bar -->
    <header class="w3-container w3-padding-32">
        <h1>My favourite highlighters
        <img src="{{ url_for('static', filename='Image-logo/Highlighter-logo.jpg') }}" alt="Highlighter logo" class="highlighter-logo" >
        </h1>
    </header>
    <!-- Shared Navbar -->
     <nav class="w3-bar" style="background-color: #ffee8c;">
         <a href="/" class="w3-bar-item-w3-button">Home</a>
         <a href="{{ url_for('comparison') }}">View Comparison</a>
     </nav>
    {% block body %}
    {% endblock %}



</body>
</html>